.env
data/
data.back/
files/
*.json
!package.json
!webui/tsconfig.json
venv/
.idea/
.yarn/
__pycache__/
dump.py
docker-compose-dev.yml
chromedriver
test.py

.DS_Store
.env.test
.coverage
coverage.xml
.pytest_cache/
.ruff_cache/
.uv-cache/